@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
  }
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

ion-toolbar {
  --border-color: #0054e9;
  --border-width: 0 0 2px 0;
  --border-style: solid;
}

ion-popover::part(backdrop) {
  background: none;
}
