@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --border: 240 5.9% 90%;

    --ion-color-secondary: #f4f4f5;
    --ion-color-secondary-rgb: 244, 244, 245;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #d7d7d8;
    --ion-color-secondary-tint: #f5f5f6;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
      --border: 240 3.7% 15.9%;

      --ion-color-secondary: #27272a;
      --ion-color-secondary-rgb: 39, 39, 42;
      --ion-color-secondary-contrast: #ffffff;
      --ion-color-secondary-contrast-rgb: 255, 255, 255;
      --ion-color-secondary-shade: #222225;
      --ion-color-secondary-tint: #3d3d3f;
    }
  }
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

ion-toolbar {
  --border-color: #0054e9;
  --border-width: 0 0 2px 0;
  --border-style: solid;
}

ion-input {
  --background: #373737 !important;
  --color: #fff !important;
  --placeholder-color: #ddd !important;
  --placeholder-opacity: 0.8 !important;

  --padding-end: 1em !important;
  --padding-start: 1em !important;
}